# Node.js
node_modules/

# Optional: Ignore environment files if they contain sensitive data (like API keys)
.env

# Logs
*.log

# OS-specific files (macOS, Windows, etc.)
.DS_Store
Thumbs.db


# Local Netlify folder
.netlify
